@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,600;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

h1{
	font-size: xx-large;
	text-align: center;
	margin-left: 40%;
}

#myDiv{
	margin: 0%;
	padding: auto 100%;
	background-color: black;
	color: white;
	font-family: 'Russo One', sans-serif;
	font-weight: bolder;
	margin-block-start: 0%;
}

#grande{
	font-size: large;
}

#myImg {
	margin-left: 5%;
	margin-right: 8px;
	border-radius: 50px;
	&:hover{
		animation: mymove 3s;
	}
}

@keyframes mymove {
  100% {border-radius: 0px;}
}

h2{
	margin-left: 7.5%;
}

body {
	margin: 0px;
	background-color: white;
	color: black;
	font-family: 'Noto Sans', sans-serif;
}

a{
	text-decoration: none;
}

div{
	display: flex;
}

.button {
  background-color: black;
  border-style: solid;
  border-width: 2px;
  border-color: gray;	
  border-radius: 7px;
  color: white;
  padding: 20px 70px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  &:active{
	background-color: gray;
  }
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 80%;
	margin-left: 8.5%;
  }
  
  td, th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
  }

main{
	margin-left: 7.5%;
}

section{
	margin-left: 7.5%;
  }
