@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,600;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@media (max-width: 810px){
	div{
		margin: auto;
		position: relative;
		justify-content: center;
		flex-direction: column;
	}	
	.button{
		padding: auto;
	}
}


h1{
	font-size: 3em;
	text-align: center;
	margin-left: 40%;
}

hr{
	margin-left: 7.5%;
	margin-right: 7.5%;
}

#myDiv{
	margin: 0%;
	padding: auto 100%;
	background-color: black;
	color: white;
	font-family: 'Russo One', sans-serif;
	font-weight: bolder;
	margin-block-start: 0%;
}

#grande{
	font-size: large;
}

#myImg {
	margin-left: 5%;
	margin-right: 8px;
	border-radius: 50px;
	&:hover{
		animation: mymove 3s;
	}
}

@keyframes mymove {
  100% {border-radius: 0px;}
}

h2{
	margin-left: 7.5%;
}

body {
	margin: 0px;
	background-color: white;
	color: black;
	font-family: 'Noto Sans', sans-serif;
}

a{
	text-decoration: none;
}

div{
	display: flex;
}

.button {
  background-color: black;
  border-style: solid;
  border-width: 2px;
  border-color: gray;	
  border-radius: 7px;
  color: white;
  padding: 2.5em;
  justify-content: space-around;
  text-align: center;
  font-weight: bold;
  display: inline;
  margin: 1em;
  cursor: pointer;
  &:active{
	background-color: gray;
  }
}

main, section{
	margin-left: 7.5%;
}

footer{
	text-align: right;
	margin-right: 5%;
	
}